#grid-game {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (100px)[7];
      grid-template-columns: repeat(7, 100px);
  -ms-grid-rows: (100px)[6];
      grid-template-rows: repeat(6, 100px);
  gap: 5px;
  width: 750px;
  height: 650px;
  background-color: blue;
  position: relative;
  z-index: 0;
}

#grid-game div {
  border-radius: 50px;
  background-color: white;
  height: 100px;
  width: 100px;
}

#grid-game .Richard {
  background-color: yellow;
}

#grid-game .player {
  background-color: yellow;
}

#grid-game .bot {
  background-color: red;
}

#difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  height: 100px;
}

#difficulty button {
  font-size: 20px;
  height: 35px;
  border-radius: 15px;
  border-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px;
}

#win {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 750px;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.75s ease-out all;
  transition: 0.75s ease-out all;
  z-index: 1;
  position: absolute;
  left: 0%;
}

#win .win {
  font-size: 30px;
  height: 40px;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.89);
}

.height0 {
  height: 0px;
  top: 0%;
}

.height80 {
  height: 80px;
  top: 30%;
}
/*# sourceMappingURL=style.css.map */