#grid-game{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(7, 100px); 
    grid-template-rows: repeat(6, 100px);
    gap: 5px;
    width: 750px;
    height: 650px;
    background-color: blue;
    position: relative;
    z-index: 0;

    div{
        border-radius: 50px;
        background-color: white;
        height: 100px;
        width: 100px;

    }
    .Richard{
        background-color: yellow;
    }
    .player{
        background-color: yellow;
    }
    .bot{
        background-color: red;
    }

}
#difficulty{
    button{
        font-size: 20px;
        height: 35px;
        border-radius: 15px;
        border-color: white;
        box-shadow: none;
        padding: 5px;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width : 750px;
    height : 100px;
}

#win{
    .win{
        font-size: 30px;
        height: 40px;
        padding: 10px;
        width: auto;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.89);
    }
    display: flex;
    width: 750px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.75s ease-out all;
    z-index: 1;
    position: absolute;
    left: 0%;

}
.height0{
    height: 0px;
    top: 0%;
}
.height80{
    height: 80px;
    top: 30%;
}